---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<!-- {{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}} -->

<div class="page">

    <div class="cat-subcat-area-mobile">
        {{#unless theme_settings.hide_category_page_heading }}
            <h1 class="page-heading">{{category.name}}</h1>
            {{{region name="category_below_header"}}}
        {{/unless}}

        {{#if banners.top}}
            <div class="banners" data-banner-location="top">
                {{#each (limit banners.top_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
                {{/each}}
            </div>
        {{/if}}

        <div class="CategoryDescription" style="overflow: hidden;">
            {{{category.description}}}
        </div> 

        {{#if category.subcategories}}
        <div class="subcategory-area">
            <span>Refine by subcategory:</span>
            <br>
                {{#each category.subcategories}}
                    <a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                {{/each}}
        </div>
        <hr>
        {{/if}}
    </div>

    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <main class="page-content" id="product-listing-container">

        <div class="cat-subcat-area">
            {{#unless theme_settings.hide_category_page_heading }}
                <h1 class="page-heading">{{category.name}}</h1>
                {{{region name="category_below_header"}}}
            {{/unless}}

            {{#if banners.top}}
                <div class="banners" data-banner-location="top">
                    {{#each (limit banners.top_metadata 1)}}
                    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
                        <div data-event-type="promotion-click">
                            {{{this.content}}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            {{/if}}

            <div class="CategoryDescription" style="overflow: hidden;">
                {{{category.description}}}
            </div> 

            {{#if category.subcategories}}
            <div class="subcategory-area">
                <span>Refine by subcategory:</span>
                <br>
                    {{#each category.subcategories}}
                        <a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                    {{/each}}
            </div>
            <hr>
            {{/if}}
        </div>

        {{#if category.products}}
            {{> components/category/product-listing}}
        {{else}}
            <p>{{lang 'categories.no_products'}}</p>
        {{/if}}
        {{{region name="category_below_content"}}}
    </main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Readmore.js/2.2.1/readmore.min.js"></script>
<script>
    $(".CategoryDescription").readmore({speed: 75, lessLink: '<div class="more_wrap"><a href="#" class="morelink"> - CLOSE</a></div>', moreLink: '<div class="more_wrap" style="position: relative; box-shadow: 7px -20px 75px 20px #fff;"><a href="#" class="morelink"> + READ MORE</a></div>', heightMargin: 16, collapsedHeight: 93});
</script>

{{/partial}}
{{> layout/base}}
