---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: 50
    similar_by_views:
        limit: 3
---
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f46c202b68d4d48"></script>

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product">
        <meta itemprop="description" content="{{ sanitize product.description }}"/>
        <meta itemprop="sku" content="{{product.sku}}">
        <meta itemprop="price" content="{{product.price.without_tax.value}}">
        <meta itemprop="upc" content="{{product.upc}}">
        <meta itemprop="gtin" content="{{product.gtin}}">
        <meta itemprop="mpn" content="{{product.mpn}}">
        <link itemprop="availability" href="http://schema.org/InStock"/>
        <meta itemprop="name" content="{{product.title}}" />
        <div itemprop="brand" itemtype="http://schema.org/Brand" itemscope>
            <meta itemprop="name" content="{{product.brand.name}}" />
        </div>
        <meta itemprop="image" content="{{getImage product.main_image 'thumbnail'}}"/>
        
        {{> components/products/product-view schema=true  }}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews (if theme_settings.show_product_reviews_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        
    </div>
{{/partial}}
{{> layout/base}}

<!-- Klaviyo Viewed Product Script -->
<script text="text/javascript">
    var _learnq = _learnq || [];
 
    var item = {
     Name: "{{product.title}}",
     ProductID: "{{product.id}}",
     ImageURL: "{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}",
     URL: "{{product.url}}",
     Brand: "{{product.brand.name}}",
     Price: "{{product.price.without_tax.value}}",
     CompareAtPrice:"{{product.price.rrp_without_tax.value}}"
    };
 
   _learnq.push(['track', 'Viewed Product', item]);
 
   _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
 
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
   }]);
 </script>

{{#if product.custom_fields}}
    {{#each product.custom_fields}}
        {{#if name '===' '360 ID'}}
        <script src="https://scripts.sirv.com/sirv.js"></script>
        {{/if}}
    {{/each}}
{{/if}}

<div class="Sirv lity-hide" id="Sirv" data-src="https://mbibelan.sirv.com/products/{{#if product.custom_fields}}{{#each product.custom_fields}}{{#if name '===' '360 ID'}}{{value}}{{/if}}{{/each}}{{/if}}/{{#if product.custom_fields}}{{#each product.custom_fields}}{{#if name '===' '360 ID'}}{{value}}{{/if}}{{/each}}{{/if}}.spin"></div>

<div id="lity-datasheets" class="lity-hide">
    <div class="modal-header">
        <h2 class="modal-header-title">
            Product Manuals
        </h2>
    </div>
    <br>
    {{#if product.custom_fields}}
        {{#each product.custom_fields}}
            {{#startsWith "PDF URL" name}}  
                <style>
                    #product-manuals-button {display: inline-block !important;}
                </style>
                <div class="datasheet_div">
                    <a class="p_datasheet" target="_blank" href="/content/pdfs/{{value}}.pdf">
                        <i class="far fa-file-pdf fa-4x"></i>
                        <div class="datasheet-text-container">
                            <div>
            {{else}}
            {{/startsWith}}
            {{#startsWith "PDF Name" name}}
                            {{value}}</div>
                        </div>
                    </a>
                </div>
            {{else}}
            {{/startsWith}}
        {{/each}}
    {{/if}}
</div>

{{#if product.custom_fields}}
    {{#each product.custom_fields}}
        {{#if name '===' '360 ID'}}
            <style>#image360, .image360Badge{display:block!important;}</style>
        {{/if}}

        {{#if value '===' 'Air Consumption Chart'}}
            <script>
                // replace air consumption PDFs with tool, until spreadsheet updated
                $(document).ready(function() {
                    $( ".datasheet-text-container > div" ).each(function() {
                        
                        if (($(this)[0].innerText).trim() == 'Air Consumption Chart') {
                            //console.log($(this)[0]);
                            $(this)[0].parentElement.parentElement.href = '/compressed-air-requirement-and-abrasive-consumption-tool/';
                        }
                    });
                });
            </script>
        {{/if}}
    {{/each}}
{{/if}}

<script type="text/javascript">
     $(document).ready(function() {  
        $("h1[itemprop='name']").each(function(){
            if($(this).text().indexOf("Package") !== -1) { 
                //console.log($(this));
                $("#partsIncluded").css('display','block');
                $("#replaceParts").css('display','none');
            } else {
                $("#partsIncluded").css('display','none');
                $("#replaceParts").css('display','block');              
            }
        });            
     });
</script>

<!-- <script src="https://player.vimeo.com/api/player.js"></script> -->

<script>
    var count = 0;
        $( ".productCarousel-slide" ).each(function() {
           var price = $( this ).find( ".price--withoutTax" ).text();
            if(price == "$0.00"){
                $(this).hide();
                count++;
            }
        });
        if(count > 0){
            var total = {{product.related_products.length}} - count;
            $( "#replaceParts" ).text("Related Parts " + "(" + total + ")");
        }
</script> 

<script>
    fbq('track', 'ViewContent');
</script>


{{#if product.custom_fields}}
    {{#each product.custom_fields}}
    {{#startsWith "Vimeo Video" name}}
            <script>
               //Finds Thumbnails for Vimeo Videos
                $('html').find('img.vimeo').each(function(index,item){
                    var vimeo_id = this.id.split('-')[1];
                    
                    $.ajax({
                        type:'GET',
                        url: 'https://vimeo.com/api/v2/video/' + vimeo_id + '.json',
                        jsonp: 'callback',
                        dataType: 'jsonp',
                        success: function(data){
                        var thumb_src = data[0].thumbnail_large;
                        $(item).attr('src', thumb_src);
                        } 
                    });
                });
            </script>
    {{else}}
    {{/startsWith}}
    {{/each}}
{{/if}}