---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: 50
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product">
        {{> components/products/product-view schema=true  }}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews (if theme_settings.show_product_reviews_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        {{> components/products/tabs}}
    </div>
{{/partial}}
{{> layout/base}}

<!-- Klaviyo Viewed Product Script -->
<script text="text/javascript">
    var _learnq = _learnq || [];
 
    var item = {
     Name: "{{product.title}}",
     ProductID: "{{product.id}}",
     ImageURL: "{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}",
     URL: "{{product.url}}",
     Brand: "{{product.brand.name}}",
     Price: "{{product.price.without_tax.value}}",
     CompareAtPrice:"{{product.price.rrp_without_tax.value}}"
    };
 
   _learnq.push(['track', 'Viewed Product', item]);
 
   _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
 
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
   }]);
 </script>

<script src="https://scripts.sirv.com/sirv.js"></script>
<div class="Sirv lity-hide" id="Sirv" data-src="https://mbibelan.sirv.com/products/{{#if product.custom_fields}}{{#each product.custom_fields}}{{#if name '===' '360 ID'}}{{value}}{{/if}}{{/each}}{{/if}}/{{#if product.custom_fields}}{{#each product.custom_fields}}{{#if name '===' '360 ID'}}{{value}}{{/if}}{{/each}}{{/if}}.spin"></div>

{{#if product.custom_fields}}
    {{#each product.custom_fields}}
        {{#if name '===' '360 ID'}}
            <style>#image360, .image360Badge{display:block!important;}</style>
        {{/if}}
    {{/each}}
{{/if}}

<script type="text/javascript">
     $(document).ready(function() {  
        $("h1[itemprop='name']").each(function(){
            if($(this).text().indexOf("Package") !== -1) { 
                console.log($(this));
                $("#partsIncluded").css('display','block');
                $("#replaceParts").css('display','none');
            } else {
                $("#partsIncluded").css('display','none');
                $("#replaceParts").css('display','block');              
            }
        });            
     });
</script>

<script src="https://player.vimeo.com/api/player.js"></script>