// =============================================================================
// CARDS (CSS)
// =============================================================================
//
// 1. Allow users to click the anchor tag on the image in the figcaption empty
//    space. This provides a much larger and simpler hit state for navigating
//    to the product details page. (Does not work in IE10 or earlier).
// 2. Using translate3d to counter a chrome specific bug: When using a masonry
//    styled layout via CSS column-count etc, transforms applied to descendants
//    are made invisible, except for 3d transforms...
//
// -----------------------------------------------------------------------------


.card-figure {
    margin-top: $card-figure-marginTop;
    position: relative;
    height: 490px;
    border: 1px solid #e5e5e5;
    border-radius: 1rem;
    box-shadow: 0 4px 10px 0 rgba(35,46,105,0.1);

    &:hover {

        // scss-lint:disable NestingDepth
        .card-figcaption {
            opacity: 1;
        }
    }
}

.brand .card-figure {
    height: inherit;
}

.card-img-container {
    max-width: get-width(stencilString('productgallery_size'));
    max-height: 200px;
    @include lazy-loaded-padding('productgallery_size');
}

.card-figcaption {
    display: none;
    margin: $card-figcaption-margin;
    pointer-events: none; // 1

    @include breakpoint("medium") {
        display: block;
    }
}

.card-figcaption-body {
    display: $card-figcaption-body-display;
    pointer-events: all; // 1
    transform: translate3d(0, -50%, 0); // 2
}

.card-image {
    @include lazy-loaded-img;

    position: absolute;
    top: -17rem;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;

    border: 0;
    //width: 100%;
    width: 80%;
    max-height: 50%;
    object-fit: contain;
    /* Object-fit polyfill */
    font-family: 'object-fit: contain;';
}

.brand .card-image {
    top: 0;
    width: 100%;
}

.card-information {
    margin: -1rem 1rem 1rem 1rem;
    // position: absolute;
    // top: 160px;
}

.card-button {
    font-size: .7rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint ("medium") {
        bottom: 3rem;
    }

}


.card-title {
    font-size: $card-title-fontSize;
    //margin: $card-title-margin;
    

    > a {
        color: stencilColor("AOO-blue");
        text-decoration: $card-title-textDecoration;
        font-weight: bold;

        // scss-lint:disable NestingDepth
        &:hover {
            color: $card-title-color-hover;
        }
    }
}

.card-text {
    margin-bottom: $card-text-marginBottom;

    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }
}

.card-figcaption-button {
    border: $card-figcaption-button-border;
    display: $card-figcaption-button-display;
    margin: $card-figcaption-button-margin;

    &:active {
        background-color: $card-figcaption-button-backgroundHover;
        border: $card-figcaption-button-border;
    }

    + .card-figcaption-button {
        margin: $card-figcaption-button-margin;
    }
}

.card-body {
    text-align: center;

    @include breakpoint("small") {
        text-align: left;
    }
}

.card-text.price span.price.price--withoutTax {
    font-size: 1.5rem;
    padding-left: 0;
}


//
// Alternate card
//
// Purpose: Used to give the card alternative styling
// -----------------------------------------------------------------------------

.card--alternate {
    border: 3px solid stencilColor("card--alternate-borderColor");
    transition: all 0.15s ease;

    .card-body {
        background-color: stencilColor("card--alternate-backgroundColor");
        padding: spacing("half");
        transition: all 0.15s ease;

        @include breakpoint("small") {
            padding: spacing("single");
        }
    }

    &:hover {
        border-color: stencilColor("color-primary");

        // scss-lint:disable SelectorDepth, NestingDepth
        .card-body {
            background-color: stencilColor("color-primary");

            .card-text {
                color: stencilColor("card--alternate-color--hover");
            }
        }

        .card-title > a {
            color: stencilColor("card--alternate-color--hover");
        }
    }
}
