.cat-button{
    background: stencilColor("color-bluesky-lightTeal");
    border-radius: 4px;
}

.cat-button:hover{
    background: stencilColor("color-bluesky-darkTeal"); 
}

body > div.body > div.container > main > div > p > a{
    color: #ffffff;
}
//Hewwoo