{{#if shipping_cost}}
    <div class="cart-total-value">
        <div class="subtotal shipping-estimate-show">
            <a href="#" class="shipping-estimate-value">{{shipping_cost.formatted}}</a>
        </div>
    </div>
{{else}}
    <div class="cart-total-value">
        <a name="shipping-jump"></a>
        <button class="shipping-estimate-show">Estimate Shipping 
                <i class="fas fa-shipping-fast fa-sm" aria-hidden="true"></i>
        </button>
        <button class="shipping-estimate-hide" style="display: none;">Cancel</button>
    </div>
{{/if}}

<div class="shipping-estimator u-hiddenVisually">
    <form class="form estimator-form" data-shipping-estimator>
        <dl>
            <dt class="estimator-form-label">
                <label class="form-label" for="shipping-country">
                    {{lang 'cart.shipping_estimator.select_a_country'}}
                    <span class="required">*</span>
                </label>
            </dt>

            <dd class="estimator-form-input">
                <select class="form-select" id="shipping-country" name="shipping-country" data-field-type="Country">
                    <option>{{lang 'cart.shipping_estimator.select_a_country'}}</option>
                    {{#each countries}}
                        <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>
                            {{name}}
                        </option>
                    {{/each}}
                </select>
            </dd>

            <dt class="estimator-form-label">
                <label class="form-label" for="shipping-state">
                    {{lang 'cart.shipping_estimator.select_a_state'}}
                    <span class="required">*</span>
                </label>
            </dt>

            <dd class="estimator-form-input">
                {{#if states.length}}
                    <select class="form-select" id="shipping-state" name="shipping-state" data-field-type="State">
                        <option>{{lang 'cart.shipping_estimator.select_a_state'}}</option>
                        {{#each states}}
                            <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>
                                {{name}}
                            </option>
                        {{/each}}
                    </select>
                {{else}}
                    <input class="form-input" type="text" id="shipping-state" name="shipping-state" data-field-type="State" placeholder="{{lang 'cart.shipping_estimator.select_a_state'}}">
                {{/if}}
            </dd>

            <dt class="estimator-form-label">
                <label class="form-label" for="shipping-city">
                    {{lang 'cart.shipping_estimator.suburb_city'}}
                    <span class="required">*</span>
                </label>
            </dt>
            <dd class="estimator-form-input">
                <input class="form-input" type="text" id="shipping-city" name="shipping-city" value="{{selected_city}}" placeholder="{{lang 'cart.shipping_estimator.suburb_city'}}">
            </dd>

            <dt class="estimator-form-label">
                <label class="form-label" for="shipping-zip">
                    {{lang 'cart.shipping_estimator.zip_postal_code'}} 
                    <span class="required">*</span>
                </label>
            </dt>
            <dd class="estimator-form-input">
                <input class="form-input" type="text" id="shipping-zip" name="shipping-zip" value="{{selected_zip}}" placeholder="{{lang 'cart.shipping_estimator.zip_postal_code'}}">
            </dd>
            <button class="button button--primary button--small shipping-estimate-submit">{{lang 'cart.shipping_estimator.estimate_shipping'}}  <i class="fas fa-shipping-fast fa-sm" aria-hidden="true"></i></button>
        </dl>
    </form>
    <div class="alertBox" style="background: #f3cf83;">
        <div class="alertBox-column alertBox-icon">
            <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:#c18400;"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
        </div>
        <p class="alertBox-column alertBox-message">
            <span>If you need a Lift Gate to safely offload your shipment, please select the relevant carrier option below that has "(with Lift Gate)".</span>
        </p>
    </div>
    <br>
    <div class="shipping-quotes"></div>
</div>
