// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background-color: $footer-background;
    border-top: container("border");
    padding: spacing("double") 0;
}

.footer-info {
    @include grid-row($behavior: nest);
    font-size: 0; // 1
}

.footer-info-col {
    @include grid-column(12);
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    margin-bottom: spacing("double");
    text-align: center;
    vertical-align: top;

    @include breakpoint("small") {
        text-align: left;
        width: width("6/12");
    }

    @include breakpoint("medium") {
        width: width("4/12");
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--small {
    @include breakpoint("medium") {
        width: width("3/12");
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
    }
}


// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    color: $footer-heading-fontColor;
    font-size: fontSize("base");
    text-transform: inherit;
}

.footer-info-list {
    list-style: none;
    margin-left: 0;

    a {
        color: white;
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            text-decoration:underline;
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-copyright {
    text-align: center;

    @include breakpoint("small") {
        text-align: left;
    }

    > .powered-by {
        color: white;
        font-size: fontSize("tiny");
        margin: 0;
    }

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-payment-icons {
    //height: remCalc(40);
    margin-top: spacing("single");
    text-align: center;

    @include breakpoint("medium") {
        margin-top: spacing("double");
        text-align: right;
        
    }
    

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        //fill: stencilColor("icon-color");
        fill: #fff;
    }

    img {
        height: 3.5rem;
    }

}

.footer-geotrust-ssl-seal {
    @include breakpoint("small") {
        bottom: 0;
        position: absolute;
        right: 16px;
    }

    table {
        margin: auto;
    }
}

.footer-newsletter-summary {
    text-align: left;
}

#newsletter {
    background: url(https://cdn3.bigcommerce.com/s-489s1uwnq2/product_images/uploaded_images/black-metal-texture-tile.png);
    color: white;
    padding: .2rem 0;
    margin-bottom: 2rem;

    .form-prefixPostfix .form-input {
        flex: none;

        @include breakpoint("small") {
            flex: 1;
            margin-right: .5rem;
        }

    }
}

#newsletter h5 {
    color: white;
    font-weight: bold;
}

h5.footer-info-heading {
    color: white;
    font-weight: bold;
}

.footer {
    padding: 0 0 3rem 0;
}

address, .address, .address a {
    color: white;
}
