<nav>
    <!-- {{#if category.subcategories}}
        <div class="sidebarBlock">
            <h5 class="sidebarBlock-heading"> Subcategories</h5>
            <ul class="navList subCategories">
                {{#each category.subcategories}}
                <li class="navList-item">
                    <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    {{/if}} -->

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}

    <hr>

    <div class="sidebar-badges">

        <div class="sanitizer-badge">
            <a href="/simpurity-hand-sanitizer-gel-12-pack-x-4-oz-squirt-top-bottle/">
                <img src="https://cdn11.bigcommerce.com/s-489s1uwnq2/images/stencil/1280x1280/products/1311/3030/simpurity-pack__38010.1587148069.jpg" alt="simpurity hand sanitizer">
                <br>
                <div>Purchase Hand Sanitizer Here!</div>
            </a>
        </div>

        <a href="/compressed-air-requirement-and-abrasive-consumption-tool/">
            <img src="https://cdn3.bigcommerce.com/s-489s1uwnq2/product_images/uploaded_images/compresser-size-tile.jpg"
            alt="compressor size requirements">
        </a>

        <a href="https://sandblastingmachines.com/apparel/">
            <img src="https://cdn3.bigcommerce.com/s-489s1uwnq2/product_images/uploaded_images/apparel-banner.jpg"
            alt="apparel">
        </a>
        <a href="https://sandblastingmachines.com/delivery-information/">
            <img src="https://cdn3.bigcommerce.com/s-489s1uwnq2/product_images/uploaded_images/sb-freeshipping-300x500.png"
            alt="free shipping on orders over $75">
        </a>
        <a href="https://sandblastingmachines.com/newsletter-signup/">
            <img src="https://cdn3.bigcommerce.com/s-489s1uwnq2/product_images/uploaded_images/newsletter-sign-up.jpg"
            alt="newsletter signup">
        </a>
    </div>

</nav>
