<ul class="tabs" data-tab>
    <li class="tab is-active">
        <a class="tab-title" href="#tab-description">
            <i class="fas fa-align-justify fa-sm"></i>
            {{lang 'products.description'}}
        </a>
    </li>

    <!-- {{#if product.warranty}}
        <li class="tab">
            <a class="tab-title" href="#tab-warranty">Old Manuals</a>
        </li>
    {{/if}} -->

    <li class="tab dataSheetLink" style="display:none;">
        <a class="tab-title" href="#tab-datasheets">
            <i class="fa fa-file-pdf-o fa-sm"></i>
            Manuals
        </a>
    </li>

    {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
        <li class="tab">
            <a class="tab-title" href="#tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}">{{sanitize theme_settings.pdp-custom-fields-tab-label}}</a>
        </li>
    {{/all}}
    {{#all settings.show_product_reviews theme_settings.show_product_reviews_tabs product.reviews.total}}
        <li class="tab">
            <a class="tab-title productView-reviewTabLink" href="#tab-reviews">{{lang 'products.reviews.header' total=product.reviews.total}}</a>
        </li>
    {{/all}}

    <li class="tab videoTabLink" style="display:none;">
        <a class="tab-title" href="#tab-videos">
            <i class="far fa-play-circle fa-sm"></i>
            Videos
        </a>
    </li>

    <li class="tab blogTabLink" style="display:none;">
        <a class="tab-title" href="#tab-articles">
            <i class="far fa-file-alt fa-sm"></i>
            Articles
        </a>
    </li>

    <!-- {{#if product.related_products}}
    <li class="tab" role="presentational">
        <a class="tab-title" href="#tab-related" role="tab" tabindex="0" aria-selected="true" controls="tab-related">
            <span id="replaceParts" style="display:block;">Related Parts</span>
            <span id="partsIncluded" style="display:none;">Parts Included</span>
        </a>
    </li>
    {{/if}} -->

</ul>




<div class="tabs-contents">
    <div class="tab-content is-active" id="tab-description">
        {{{product.description}}}
    </div>
    
   <!-- {{#if product.warranty}}
       <div class="tab-content" id="tab-warranty">
           {{{product.warranty}}}
       </div>
   {{/if}} -->

   <div class="tab-content" id="tab-datasheets">
        {{#if product.custom_fields}}
            {{#each product.custom_fields}}
                {{#if name '===' 'PDF URL'}}
                    <style>
                        .dataSheetLink{display:block!important;}
                    </style>
                    <div class="datasheet_div">
                        <a class="p_datasheet" target="_blank" href="/content/pdfs/{{value}}.pdf">
                            <i class="far fa-file-pdf fa-4x"></i>
                            <div class="datasheet-text-container">
                                <div>
                {{/if}}
                {{#if name '===' 'PDF Name'}}
                                {{value}}</div>
                            </div>
                        </a>
                    </div>
                {{/if}}
            {{/each}}
        {{/if}}
    </div>

   {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
      <div class="tab-content" id="tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}">
         <dl class="productView-info">
            {{#each product.custom_fields}}
               <dt class="productView-info-name">{{name}}:</dt>
               <dd class="productView-info-value">{{{value}}}</dd>
            {{/each}}
         </dl>
      </div>
   {{/all}}
   {{#all settings.show_product_reviews theme_settings.show_product_reviews_tabs}}
       <div class="tab-content" id="tab-reviews">
           {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
       </div>
   {{/all}}

   <div class="tab-content" id="tab-videos">
        {{#if product.custom_fields}}
            {{#each product.custom_fields}}
                {{#if name '===' 'Video'}}
                    <style>.videoTabLink{display:block!important;}</style>
                    <div class="yt-thumb-container">
                        <a href="{{value}}" data-lity="">
                            <img src="https://i3.ytimg.com/vi/{{#replace 'https://www.youtube.com/embed/' value }}{{/replace}}/hqdefault.jpg" alt="product video" />
                            <span class="yt-thumb-button">.</span>
                        </a>
                    </div>   
                {{/if}}
                {{#if name '===' 'Vimeo Video'}}
                    <style>.videoTabLink{display:block!important;}</style>
                    <div class="vimeo-container">
                        <iframe src="{{value}}?color=ffffff"
                             frameborder="0" allow="autoplay; fullscreen"
                            allowfullscreen>
                        </iframe>
                    </div>
                {{/if}}
            {{/each}}
        {{/if}}
   </div>

   <div class="tab-content" id="tab-articles">
    {{#if product.custom_fields}}
        {{#each product.custom_fields}}
            {{#if name '===' 'Blog'}}
                <style>.blogTabLink{display:block!important;}</style>
                <div class="article_div">
                    <a class="p_article" target="_blank" href="{{value}}">
                        <i class="far fa-file-alt fa-4x"></i>
            {{/if}}
            {{#if name '===' 'Title'}}
                        <div class="blog-text-container">
                            <div>{{value}}</div>
                        </div>
                    </a>
                </div>
            {{/if}}
        {{/each}}
    {{/if}}
   </div>

</div>

{{#if product.related_products}}
    <hr>
    <h3 class="related-products">
        <span id="replaceParts" style="display:block;">Related Parts ({{product.related_products.length}})</span>
        <span id="partsIncluded" style="display:none;">Parts Included ({{product.related_products.length}})</span>
    </h3>
    <!-- <div id="related-products-area">
        <div role="tabpanel" aria-hidden="false" class="tab-content has-jsContent is-active" id="tab-related">
            {{#if settings.data_tag_enabled}}
                {{> components/products/carousel products=product.related_products columns=6 list="Related Products"}}
            {{else}}
                {{> components/products/carousel products=product.related_products columns=6}}
            {{/if}}
        </div>
    </div> -->

    <div id="related-view-products-area">
        {{#each product.related_products}}
        <a href="{{url}}">
            <div class="related-view-product">
                <div class="related-view-left">
                    <div class="related-view-thumbnail">
                        <img src="{{getImage image 'productthumb_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}">
                    </div>
                </div>

                <div class="related-view-info">
                    <span class="related-view-name">{{{ ellipsis name 30 }}}</span>
                    <br>
                    <span class="related-view-brand">{{ ellipsis brand.name 15}}</span>
                    <br>
                    <span class="related-view-price">{{price.without_tax.formatted}}</span>
                </div>
            </div>
        </a>
        {{/each}}
    </div>

    <hr>
{{/if}}
